nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 2px 2px 2px;
    font-size: 1.5rem;

}

.headerleft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 5px 5px 5px;
    flex-grow: 1;
}

.logo {
    width: 80px;
}

.i {
    display: 800px;
}


.search-container {
    position: relative;
    width: 400px;
    display: flex;
    flex-grow: 2;
    align-items: center;
}

#search-input {
    min-width: 70%;
    padding: 10px 30px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.fa-search {
    position: absolute;
    top: 50%;
    right: 200px;
    transform: translateY(-40%);
    color: #555;
}


.headerright {
    display: flex;
    justify-content: space-evenly;
    padding: 5px 5px 5px 5px;
    flex-grow: 1;
}

.profile {
    width: 20px;
    background-color: black;
    border-radius: 50%;
    border: solid black 2px;
}

.centerbody {
    display: flex;
    justify-items: space-between;
}

.leftcenter {

    justify-content: right;
    flex-grow: 1;
    width: 10%;
    gap: 1px;
    align-self: stretch;


}

i:hover {

    color: blue;
    background-color: rgb(245, 245, 242);
}

i {
    padding: 10px 10px;
    list-style-type: none;
    align-content: flex-start;
}


.rightcenter {

    justify-content: space-between;
    overflow-y: auto;
    flex-wrap: nowrap;
    padding left: 80%;
    width: 60%;
    flex-grow: 2;
    padding: 20px 20px 20px 20px;
}
